<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >



<suite name="TestSuite" parallel="none" >




    <test name="IETestCases">

        <parameter name="browser" value="ie"/>

        <groups>
            <run>
                <include name="ie"  />
                <exclude name="admin" />
                <exclude name="user"  />
            </run>
        </groups>


        <classes>

            <class name ="MediaTests"/>
        </classes>

    </test>




    <test name="FirefoxTestCases">

        <parameter name="browser" value="firefox"/>

        <groups>
            <run>
                <include name="ie"  />
                <exclude name="admin" />
                <exclude name="user"  />
            </run>
        </groups>

        <classes>

            <class name ="MediaTests"/>
        </classes>

    </test>




    <test name="ChromeTestCases">

        <parameter name="browser" value="chrome"/>

        <groups>
            <run>
                <exclude name="ie"  />
                <include name="admin" />
                <include name="user"  />
            </run>
        </groups>

        <classes>

            <class name ="MediaTests">
                    <methods>
                        <include name=".*TestCase1001.*"/>
                        <include name=".*TestCase1002.*"/>
                    </methods>
            </class>

        </classes>

    </test>


</suite>
